/*=
===
=== MAIN
===
=*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Bitter);

body
{
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
}

div.wrapper
{
    display: flex;
}

/* MENU */

div.menu
{
    background-color: #222;
    min-width: 180px;
    width: 15%;
    
    /*background-color: hsla(30,100%,50%,0.5);*/
}

div.menu ul
{
    list-style-type: none;
    padding: 0px;
    
    /*background-color: hsla(0,100%,50%,0.5);*/
}

div.menu li
{
    position: relative;

    /*border: 1px solid hsla(120,100%,50%,0.5);*/
}

div.menu input
{
    display: none;
}

div.menu input + label
{
    color: #888;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
}

div.menu input + label:hover,
div.menu input:checked + label,
div.menu a:hover
{
    color: #eee;
}

div.menu input + label + ul
{
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s;
}

div.menu input:checked + label + ul
{
    opacity: 1;
    max-height: 120px; /* apply to actually needed height! */
    transition: all 0.2s;
}

div.menu i
{
    margin-right: 8px;
}

div.menu a
{
    color: #888;
    display: block;
    outline: none;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.2s;
    
    /*background-color: hsla(210,100%,50%,0.5);*/
}

div.menu a.title
{
    color: #eee;
    font-family: 'Bitter', serif;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    
    /*background-color: hsla(290,100%,50%,0.5);*/
}

div.menu a.title span
{
    display: block;
    font-size: 12pt;
}

/* SLIDER */

/*div.main_slider
{
    height: 216px;
    overflow: hidden;
    width: 100%;
}

div.main_slider div
{
    animation: main_slider 20s infinite;
	left: 50%;
	margin-left: -960px;
    position: relative;
}

div.main_slider img
{
    display: block;
    height: 216px;
    width: auto;
}

@keyframes main_slider
{
	0%		{top: 0px;}
	30%		{top: 0px;}
	33%		{top: -216px;}
	63%		{top: -216px;}
	66%		{top: -432px;}
	97%		{top: -432px;}
	100%	{top: -648px;}
}*/

/* CONTENT */

div.content
{
    background-color: #ddd;
    color: #222;
}

div.header
{
    background-color: #444;
    color: #fff;
    font-size: 24pt;
    font-weight: 700;
    padding: 16px 32px;
}

div.main-widget
{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 0px;
    margin-top: 4px;
}

div.main-widget-item
{
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 0px;
    margin-top: 4px;
    padding: 8px;
}

h1
{
    font-family: 'Bitter', serif;
    font-size: 24pt;
    font-weight: 700;
}

h2
{
    font-family: 'Bitter', serif;
    font-size: 16pt;
    font-weight: 700;
}

p
{
    font-size: 12pt;
}

div.side-widget
{
    display: flex;
    flex-direction: column;
    margin: 4px;
    min-width: 180px;
    width: 20%;
}

div.side-widget-item
{
    background-color: #fff;
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
}

/* FOOTER */

div.footer
{
    color: #888;
    display: flex;
    flex-direction: column;
    font-family: 'Bitter', serif;
    font-size: 12pt;
    height: 180px;
    justify-content: center;
    text-align: center;
}

div.footer p.ads
{
    display: flex;
    justify-content: center;
    
    /*border: 1px solid blue;*/
}

div.footer p.ads a
{
    display: inline-block;
    outline: none;
    
    /*background-color: red;*/
}

div.footer p.ads a i
{
    color: #888;
    cursor: pointer;
    font-size: 24pt;
    padding: 4px;
    transition: color 0.2s;
    
    /*border: 1px solid green;*/
}

div.footer p.ads a i:hover
{
    color: #eee;
    font-size: 24pt;
}
