/*=
===
=== WIDGET-VIDEO
===
=*/

.ui-slider
{
	position: relative;
}

.ui-slider .ui-slider-handle
{
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	cursor: default;
    background-color: #ddd;
    border-radius: 0.75em;
    outline: none;
    display: none;
}

.ui-slider .ui-slider-range
{
	position: absolute;
	z-index: 1;
	height: 12pt;
	display: block;
	background-color: #aaa;
}

.ui-slider-horizontal
{
	height: 1em;
}

.ui-slider-horizontal .ui-slider-handle
{
	display: none;
}

.ui-slider-horizontal .ui-slider-range
{
	top: 0em;
	height: 1em;
}

.ui-slider-horizontal .ui-slider-range-min
{
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max
{
	right: 0;
}

.ui-slider-vertical
{
	width: 1em;
	height: 10em;
}

.ui-slider-vertical .ui-slider-handle
{
	left: 0em;
	margin-left: 0;
	margin-bottom: 0em;
}

.ui-slider-vertical .ui-slider-range
{
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min
{
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max
{
	top: 0;
}
