@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    color: #222;
}

a {
    color: #444;
    text-decoration: underline;
}

a:hover {
    color: #000;
}

a:visited {
    color: #000;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

