@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

:root {
    font-size: 1.3em;
    line-height: 1.3;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    color: #444;
    text-decoration: none;
    border-bottom: 0.1em solid #777;
    outline: none;
}

a:hover,
a:visited  {
    color: #000;
    border-color: #000;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
}

.panel {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.panel > a {
    text-decoration: none;
    border: none;
}

.panel > a:hover {
    border-bottom: 0.1em solid #000;
}

.panel > .title {
    color: #000;
    font-weight: 700;
}

article {
    width: calc(100% - 2em);
    min-width: calc(320px - 2em);
    max-width: 640px;
    padding: 1em;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-top: none;
}

article header div.summary {
    font-style: italic;
}

footer {
    width: calc(100% - 2em);
    min-width: calc(320px - 2em);
    max-width: 640px;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}

.entry {
    width: calc(100% - 2em);
    min-width: calc(320px - 2em);
    max-width: 640px;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none;
}

time {
    color: #ccc;
    cursor: default;
}

.paginator {
    width: calc(100% - 2em);
    min-width: calc(320px - 2em);
    max-width: 640px;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none;
    display: flex;
    justify-content: space-between;
}

.paginator a {
    padding: 0.5em 0.75em;
    color: #444;
    border: 0.1em solid rgba(0, 0, 0, 0.05);
}

.paginator span {
    padding: 0.5em 0.75em;
    color: #ccc;
    border: 0.1em solid rgba(0, 0, 0, 0.05);
    cursor: default;
}

