@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    color: #222;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}

a {
    color: #444;
    text-decoration: none;
    border-bottom: 0.1em solid #777;
    outline: none;
}

a:hover,
a:visited  {
    color: #000;
    border-color: #000;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.panel {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
}

.panel a {
    text-decoration: none;
    border: none;
}

.panel a:last-child {
    color: #000;
    font-weight: 700;
}

article {
    width: calc(100% - 2em);
    min-width: calc(320px - 2em);
    max-width: 640px;
    padding: 9rem 1em 1em 1em;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    border-top: none;
}

article header div.summary {
    font-style: italic;
}

