{% if DEFAULT_PAGINATION %}
<div class="paginator">
    <div>
        {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr;</a>
        {% else %}
        <span>&larr;</a>
        {% endif %}
    </div>
    <div>
        Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}
    </div>
    <div>
        {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&rarr;</a>
        {% else %}
        <span>&rarr;</a>
        {% endif %}
    </div>
</div>
{% endif %}
